  <nav class="navbar navbar-default navbar-static-bottom">
  <div class="container-fluid">
      <ul class="nav navbar-nav">
        <p class="navbar-text">Copyright © 2016 14th Star Brewing Company, LLC. All Rights Reserved</p>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">Developed and Deployed by Travis Tatro</p>
      </ul>
    </div>
  </nav>

        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="/javascript/main.js"></script>
        </div>
    </body>
</html>