<% include ./partials/header %>

<div class="container">
	<div id="initial_visit" class="row">
		<div class="col-xs-7 col-xs-offset-1">
			<h1>14th Star Brewing</h1>
			<h2>Are you 21 years of age or older?</h2>
			
			<form class="form-inline" action="/" method="POST">
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg">Yes</button>
					<a href="http://www.patatap.com/" class="btn btn-primary btn-lg">No</a>		
				</div>
			</form>
			
		</div>
		<div class="col-xs-3">
			<div class="thumbnail">
				<img id="main_logo" src="<%= star.logo %>" > 
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>