<% include ./partials/header %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <img class="thumbnail" src="http://www.vermontbrewers.com/wp-content/uploads/2016/02/IMG_1355.jpg">
        </div>
        <div id="title" class="col-md-3">
            
        <h1><%= star.name %></h1>
        <h3>American Ales founded Overseas</h3>
                <hr>
                <a href="/about"><button class="btn btn-primary">Hear Our Story</button></a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container">
    
</div>

<% include ./partials/footer %>